@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

@layer base {
 :root {
  --color-text-base: 255, 255, 255;
  --color-text-muted: 199, 210, 254;
  --color-text-inverted: 79, 70, 229;
  --color-fill: 67, 56, 202;
  --color-button-accent: 255, 255, 255;
  --color-button-accent-hover: 238, 242, 255;
  --color-button-muted: 99, 102, 241;
 }

 .theme-swiss {
  --color-text-base: 255, 255, 255;
  --color-text-muted: 254, 202, 202;
  --color-text-inverted: 220, 38, 38;
  --color-fill: 185, 28, 28;
  --color-button-accent: 255, 255, 255;
  --color-button-accent-hover: 254, 242, 242;
  --color-button-muted: 239, 68, 68;
 }

 .theme-neon {
  --color-text-base: 17, 24, 2;
  --color-text-muted: 47, 67, 6;
  --color-text-inverted: 235, 250, 204;
  --color-fill: 179, 255, 23;
  --color-button-accent: 36, 52, 3;
  --color-button-accent-hover: 55, 79, 5;
  --color-button-muted: 212, 255, 122;
 }

 .theme-peaches {
  --color-fill-100: #ffbfa3;
  --color-fill-90: #ffc5ac;
  --color-fill-80: #ffccb5;
  --color-fill-70: #ffd2bf;
  --color-fill-60: #ffd9c8;
  --color-fill-50: #ffdfd1;
  --color-fill-40: #ffe5da;
  --color-fill-30: #ffece3;
  --color-fill-20: #fff2ed;
  --color-fill-10: #fff9f6;
 }

 .theme-peach {
  --color-text-base: 29, 29, 29;
  --color-fill: 255, 191, 163;
  --color-text-link: 128, 35, 118;
 }

 .theme-purple {
  --color-text-base: 29, 29, 29;
  --color-fill: 128, 35, 118;
  --color-text-link: 37, 163, 163;
 }

 .theme-green {
  --color-text-base: 29, 29, 29;
  --color-fill: 0, 217, 116;
  --color-text-link: 37, 163, 163;
 }

 .theme-blue {
  --color-text-base: 29, 29, 29;
  --color-fill: 34, 186, 187;
  --color-text-link: 37, 163, 163;
 }

 .theme-green-h {
  --color-text-base: 29, 29, 29;
  --color-fill: 111, 174, 149;
  --color-text-link: 37, 163, 163;
 }

 .theme-blue-light {
  --color-text-base: 29, 29, 29;
  --color-fill: 84, 198, 235;
  --color-text-link: 37, 163, 163;
 }

 .theme-orange {
  --color-text-base: 29, 29, 29;
  --color-fill: 255, 117, 87;
  --color-text-link: 37, 163, 163;
 }

 .theme-gd {
  --color-text-base: 29, 29, 29;
  --color-fill: 216, 190, 0;
  --color-text-link: 37, 163, 163;
 }

 .LG-Header1 {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 60px;
  letter-spacing: -0.02em;
 }

 .LG-Header2 {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: -0.02em;
 }

 .tete {
  flex: none;
  order: 0;
  flex-grow: 1;
  padding-left: 2.25rem;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
 }

 .Back {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
 }

 .bimage {
  flex: none;
  order: 0;
  flex-grow: 0;
 }

 .timage {
  flex: none;
  order: 1;
  flex-grow: 0;
 }

 .LG-Sub-Title {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 720;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
 }

 .LG-Body-Regular {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
 }

 .LG-Body-Bold {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
 }

 .LG-Link-Text {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #ff0000;
 }

 .LG-Highlighted-Text {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #444444;
 }

 .MD-Header1 {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  letter-spacing: -0.02em;
 }

 .MD-Header2 {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.02em;
 }

 .MD-Sub-Title {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 720;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
 }

 .MD-Body-Regular {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.02em;
 }

 .MD-Body-Bold {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.02em;
 }

 .MD-Link-Text {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #ff0000;
 }

 .MD-Highlighted-Text {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #444444;
 }

 .SM-Header1 {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.02em;
 }

 .SM-Header2 {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
 }

 .SM-Sub-Title {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 720;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
 }

 .SM-Body-Regular {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
 }

 .SM-Body-Bold {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
 }

 .SM-Link-Text {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #ff0000;
 }

 .SM-Highlighted-Text {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #444444;
 }

 .quote {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px 8px 24px;
  gap: 16px;
  background: rgba(128, 35, 118, 0.1);
  border-width: 0.5px 0px;
  border-style: solid;
  border-color: #802376;
  border-radius: 0px;
 }

 .quoteTitle {
  /* lg Body bold */

  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */

  text-align: left;
  letter-spacing: 0.02em;
  padding: 6px 24px;

  /* Combination 1/Secondary 100 */

  color: #802376;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
 }
}

/* header styles*/

.header-container {
 background: #ffebe1;
 padding: 40px 0px;
 padding-left: 24px;
 padding-right: 24px;
 padding-bottom: 26px;
 gap: 32px;
 width: 100%;
}

.image-container {
 display: flex;
 align-items: center;
 justify-content: flex-end;
 flex: 0.8;
}

.header-wrapper {
 background-color: #ffebe1;
 display: flex;
 justify-content: center;
}

.header-container h1 {
 flex: 1;
 font-family: 'Suez One';
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 31px;
 letter-spacing: -0.02em;
 margin: 0;
 padding: 0;
}

.header-description {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, 1fr);
 align-items: center;
 gap: 10px;
}
.header-description p {
 font-family: 'Syne';
 font-style: normal;
 font-weight: 720;
 font-size: 19px;
 line-height: 28px;
 letter-spacing: -0.05em;
 text-transform: uppercase;
}

.desc-content {
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
 gap: 6px;
}

.header-title {
 display: flex;
 justify-content: center;
 align-items: center;
 padding-bottom: 30px;
}

.header-title img {
 width: 87px;
 height: auto;
}

.desc-content p {
 font-family: 'Syne';
 font-style: normal;
 font-weight: 720;
 font-size: 14px;
 line-height: 16px;
 /* identical to box height, or 114% */

 letter-spacing: -0.02em;
 text-transform: uppercase;
}

.desc-content span {
 font-family: 'Syne';
 font-style: normal;
 font-weight: 400;
 text-align: center;
 letter-spacing: 0.02em;
 font-size: 14px;
 line-height: 16px;
}
.header-author {
 color: #25a3a3;
 text-decoration-line: underline;
}

/* MENU HEADER */

html {
 box-sizing: border-box;
}
.mx {
 max-width: 1440px;
}
*,
*::before,
*::after {
 box-sizing: inherit;
}

img {
 max-width: 100%;
 height: auto;
}
.menu-button_edit:hover {
 background: rgba(68, 68, 68, 0.15);
}

.menu-button_home:hover {
 background: rgba(68, 68, 68, 0.15);
}

.menu-button_add:hover {
 background: rgba(68, 68, 68, 0.15);
}

.menu-button_read:hover {
 background: rgba(68, 68, 68, 0.15);
}

.menu {
 position: relative;
 z-index: 9;
 max-width: 176px;
 max-height: 135px;
}

.menu-content {
 position: absolute;
 transform: rotate(45deg);
 border-radius: 16px 24px 40px 24px;
 width: 64px;
 height: 64px;
 left: 55px;
 top: 15px;
 background-color: #ffffff;
 border: 1px solid #e5e5e5;
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.23999999463558197);
}

.menu-content_image {
 position: absolute;
 transform: rotate(-45deg);
 padding-top: 10px;
 padding-right: 10px;
 padding-left: 7px;
}

.menu-button {
 position: absolute;
 width: 40.11px;
 height: 40.11px;
 background: #ffffff;
 border: 1px solid #e5e5e5;
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
 border-radius: 50%;
}

.menu-button_home {
 left: 5px;
 top: 10px;
}

.menu-button_read {
 right: 5px;
 top: 10px;
}

.menu-button_edit {
 right: 18px;
 top: 64px;
}

.menu-button_add {
 right: 72px;
 top: 85px;
}

.menu-button_image {
 position: relative;
 top: 0;
 left: 0;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

/* Footer */

.footer-container {
 background-color: #ffebe1;
 padding: 10px 0;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Syne';
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 28px;
}

.author-footer {
 color: #25a3a3;
 text-decoration-line: underline;
}

@media (min-width: 640px) {
 .header-container {
  padding: 68px 80px;
  padding-bottom: 26px;
  gap: 32px;
  width: 100%;
 }

 .header-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 30px;
 }

 .header-title h1 {
  flex: 1.5;

  font-size: 36px;
 }

 .header-title img {
  width: 148px;
  height: auto;
 }

 .image-container {
  justify-content: center;
 }

 .footer-container {
  padding: 10px 0;
  font-size: 18px;
 }
}

@media (min-width: 1024px) {
 .header-container {
  background: #ffebe1;
  padding: 68px 80px;
  padding-bottom: 26px;
  gap: 32px;
  width: 100%;
  max-width: 1024px;
 }

 .header-title h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 60px;
  letter-spacing: -0.02em;
 }

 .header-title img {
  width: 256px;
  height: auto;
 }
 .header-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .image-container {
  flex: 0.5;
  justify-content: end;
 }

 .footer-container {
  padding: 10px 0;
  font-size: 24px;
 }
}
